/* styles.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    /* color: #fff; */
}

#game-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

#inventory {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1, h2, p {
    margin: 10px 0;
}
